#title-bar {
  line-height: 30px;
  font-weight: bold;

  -webkit-app-region: drag;
  display: flex;
  padding: 5px;

  .thing-name {
    font-size: 15px;
    color: #e83e8c;
  }

  .empty-space {
    flex: 1;
  }

  #additional-buttons {
    -webkit-app-region: no-drag;
    margin-right: 5px;
    .btn {
      i {
        cursor: pointer;
      }
    }
  }
  #window-buttons {
    -webkit-app-region: no-drag;
    .btn {
      border-radius: 50%;
      margin: auto 3px;
      height: 24px;
      width: 24px;
    }
  }
}
